*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    padding: 0;
    margin: 0;
}

header {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.game-title {
    font-size: 4rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.grid-container {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows:repeat(11, 1fr);
    width: 450px;
    height: 450px;
    grid-row: 1/2;
    grid-column: 1/2;
}

.censor {
    display: grid;
    background-color: lightgrey;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 410px;
    height: 410px;
    grid-row: 1/2;
    grid-column: 1/2;
    position:relative;
    left: 41px;
    top: 41px;
}

.grid-container > div, .censor > div {
    display: flex;
    border: 1px solid black;
    font-size: 1.5rem;
    text-shadow: 0px 1px 5px black;
    justify-content: center;
    align-items: center;
}

.grid-container.option {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    width: 300px;
    height: 300px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.grid-container.option > div {
    display: flex;
    border: 1px solid black;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-shadow: none;
}

.A-letter-axis {
    grid-row: 2/3;
    grid-column: 1/2;
}

.B-letter-axis {
    grid-row: 3/4;
    grid-column: 1/2;
}

.C-letter-axis {
    grid-row: 4/5;
    grid-column: 1/2;
}

.D-letter-axis {
    grid-row: 5/6;
    grid-column: 1/2;
}

.E-letter-axis {
    grid-row: 6/7;
    grid-column: 1/2;
}

.F-letter-axis {
    grid-row: 7/8;
    grid-column: 1/2;
}

.G-letter-axis {
    grid-row: 8/9;
    grid-column: 1/2;
}

.H-letter-axis {
    grid-row: 9/10;
    grid-column: 1/2;
}

.I-letter-axis {
    grid-row: 10/11;
    grid-column: 1/2;
}

.J-letter-axis {
    grid-row: 11/12;
    grid-column: 1/2;
}

.number-axis-1 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.number-axis-2 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.number-axis-3 {
    grid-row: 1/2;
    grid-column: 4/5;
}

.number-axis-4 {
    grid-row: 1/2;
    grid-column: 5/6;
}

.number-axis-5 {
    grid-row: 1/2;
    grid-column: 6/7;
}

.number-axis-6 {
    grid-row: 1/2;
    grid-column: 7/8;
}

.number-axis-7 {
    grid-row: 1/2;
    grid-column: 8/9;
}

.number-axis-8 {
    grid-row: 1/2;
    grid-column: 9/10;
}

.number-axis-9 {
    grid-row: 1/2;
    grid-column: 10/11;
}

.number-axis-10 {
    grid-row: 1/2;
    grid-column: 11/12;
}

.empty-cell {
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid-container > div.empty-cell,
.grid-container > div.A-letter-axis,
.grid-container > div.B-letter-axis,
.grid-container > div.C-letter-axis,
.grid-container > div.D-letter-axis,
.grid-container > div.E-letter-axis,
.grid-container > div.F-letter-axis,
.grid-container > div.G-letter-axis,
.grid-container > div.H-letter-axis,
.grid-container > div.I-letter-axis,
.grid-container > div.J-letter-axis,
.grid-container > div.number-axis-1,
.grid-container > div.number-axis-2,
.grid-container > div.number-axis-3,
.grid-container > div.number-axis-4,
.grid-container > div.number-axis-5,
.grid-container > div.number-axis-6,
.grid-container > div.number-axis-7,
.grid-container > div.number-axis-8,
.grid-container > div.number-axis-9,
.grid-container > div.number-axis-10 {
    border: none;
    text-shadow: none;
}


.board-container.option {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.content-container {
    display: flex;
    gap: 100px;
}

.player1-header,
.player2-header {
    font-size: 2rem;
    text-decoration: underline;
}

.attack-history-textbox {
    border: 1px solid black;
    width: 1000px;
    height: 150px;
    font-size: 1.5rem;
    padding: 10px;
}

.current-turn-message {
    color: green;
}

.gamemode-selection[open] {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.gamemode-selection > p {
    font-size: 2rem;
}

.gamemode-button-container {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.gamemode-button-container > button {
    padding: 30px;
    font-size: 1.5rem;
    width: 400px;
}

.pvp-player1-options[open],
.pvp-player2-options[open] {
    width: 900px;
    display: flex;
    align-items: center;
}

.name-group {
    display: flex;
    gap: 10px;
}

.name-group > label {
    font-size: 1.5rem;
}

.player1-form,
.player2-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.player1-form > p,
.player2-form > p {
    font-size: 2rem;
}

.ship-group {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.input-group {
    display: flex;
    gap: 20px;
}

.input-group > select {
    width: 100px;
    height: 50px;
}

.input-group > input[type="text"] {
    width: 300px;
    height: 50px;
}

.ship-group > label {
    font-size: 1.5rem;
}

.player1-form > .form-submit,
.player2-form > .form-submit {
    font-size: 2rem;
    width: 300px;
    align-self: center;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}

.carrier {
    background-color: brown;
}

.battleship {
    background-color: blue;
}

.cruiser {
    background-color: green;
}

.submarine {
    background-color: deeppink;
}

.destroyer {
    background-color: yellow;
}

.board-container.player1, .board-container.player2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}


.player1-content, .player2-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computer-hidden {
    background-color: grey;
}

footer {
    display: flex;
    gap: 30px;
}

.attack-history {
    border: 2px solid black;
    padding: 10px;
    width: 800px;
    height: 200px;
    overflow: hidden;
}

.attack-history > li {
    list-style-type: none;

}

.attack-form {
    display:flex;
    gap: 20px;
}

.attack-input {
    height: 50px;
}

.attack-button {
    padding: 10px;
}

.reset-modal {
    padding: 100px;
}

.reset-button {
    font-size: 3rem;
}

.miss {
    color: black;
}

.hit {
    color:red;
}